html { height: 100%; }

body { height: 100%; }

#page { min-height: 100%;
		background-color: #f7f9fd; }

#body { padding-bottom: 80px; }

.customHeader {
	background-image: url(../images/HeaderMain.png); 
	height: 100px; 
	margin-left:15px;
	margin-right:15px;
}

#grey-tab { 
	background-color: #f5f5f5; 
	border-bottom-color: #f5f5f5;
}

#menu { background-color: #337ab7; }

#logo {
	padding-left: 25px;
}

#not-signed-in {
	padding-top: 15px;
	padding-right: 45px;
}

#not-signed-in a {
	color: #337ab7;
}

#signed-in {
	padding-top: 15px;
	padding-right: 25px;
}

#signed-in .navbar-text {
    color: grey;
    background-color: white;
}

#signed-in a {
	color: #337ab7;
}

#menu .navbar-brand {
    color: white;
    font-size: 22px;
}

#menu .navbar-nav li a {
    color: #f2f2f2;
}

#menu .navbar-nav li a:hover {
    color: white;
}

#menu .navbar-nav .navbar-inverse li a:active {
	background-color: #215684;
}

#menu-directory {
    color: #f2f2f2;
}

#custom-page-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#profile-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#sidebar {
	padding-top: 10px;
}

#main {
	padding-top: 15px;
}

.profile-pic-small {
	max-height: 40px;
	padding-right: 10px;
}

.profilePicMedium {
	max-height:120px;
	background-color: white;
}

#createPost {
	background-color: #eef2f9;
}

#saveProfile {
	background-color: #eef2f9;
}

#likes-comments-panel {
	background-color: #eef2f9;
}

.request-time {
	padding-right: 10px;
	color: grey;
}

.comment-time {
	color: grey;
}

.feedArrow {
	padding-left: 20px;
	padding-right: 20px;
}

.feed-comments li {
	background-color: #eef2f9;
}

.heart-like {
	padding-right: 5px;
}
