#menu { background-color: #c80000; }

#menu .navbar-brand {
    color: white;
    font-size: 25px;
    padding-top: 20px;
}

#menu .navbar-text {
    color: white;
}

#signed-in {
	padding-top: 5px;
}

#menu .navbar-nav li a {
    color: #f2f2f2;
}

#menu .navbar-nav li a:hover {
    color: white;
}

#body { padding-bottom: 80px; }

.profile-pic-small {
	max-height: 40px;
	padding-right: 10px;
}

.request-time {
	padding-right: 10px;
	color: grey;
}

.comment-time {
	color: grey;
}

.feedArrow {
	padding-left: 20px;
	padding-right: 20px;
}
